/* 'Avenir', Helvetica, Arial, sans-serif */
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: STHeiti;
}

body {
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.checkbox_class {
    /* margin-left: 30px; */
    height: 20px;
    width: 20px;
    position: absolute;
    
}

#slider12c .slider-track-high {
    background-color: green;
}

#slider12c .slider-track-low {
    background-color: rgb(239, 239, 239);
}

#slider12c .slider-track-selection {
    background-color: rgb(0, 92, 200);
}

.framework {
    border: solid;
    /* border-top-left-radius: 1px;
    border-top-right-radius: 1px; */
    border-width: 1px;
    border-color: rgb(237, 237, 238);

    -webkit-box-shadow: 0px 3px 3px 2px #bdbaba;
    -moz-box-shadow: 0px 3px 3px 2px #bdbaba;
    box-shadow: 0px 3px 3px 2px #bdbaba;
}


#left {
    position: absolute;
    top: calc(20px + 6%);
    left: calc(20px);
    width: calc(24% - 10px - 0.5%);
    height: calc(12% - 0.5%);
}

#mainView {
    position: absolute;
    top: calc(20px + 6%);
    left: calc(24% + 30px);
    width: calc(76% - 50px);
    height: calc(42% - 30px - 0.5%);
}

#bottom {
    position: absolute;
    top: calc(48% + 10px);
    left: calc(24% + 30px);
    width: calc(76% - 50px);
    height: calc(52% - 30px);
}

#right {
    position: absolute;
    top: calc(3px);
    left: calc(86% + 9px);
    width: calc(14% - 12px);
    height: calc(70% - 0.5%);
}

#leftBottom {
    position: absolute;
    top: calc(18% + 40px);
    left: calc(20px);
    width: calc(24% - 10px - 0.5%);
    height: calc(40% - 50px - 0.5%);
}

#leftDown {
    position: absolute;
    top: calc(58% + 10px);
    left: calc(20px);
    width: calc(24% - 10px - 0.5%);
    height: calc(42% - 30px);
}


/* #btn1 {
    position: absolute;
    top: 30px;
    left: 120px;
}

#btn2 {
    position: absolute;
    top: 30px;
    left: 150px;
}

#btn3 {
    position: absolute;
    top: 30px;
    left: 180px;
}

#btn4 {
    position: absolute;
    top: 30px;
    left: 210px;
}

#btn5 {
    position: absolute;
    top: 30px;
    left: 240px;
} */

/* #btn {
    
} */

#ds {
    position: absolute;
    top: 30px;
    width: 105px;
    left: 3px
}

#ws {
    position: absolute;
    top: 390px;
    width: 95px;
    left: 3px
}

.se {
    position: absolute;
    top: 10px;
    font-size: 20px;
    /* left: calc(35%); */
    right: 10px;
    /* float: right; */
    font-family: STHeiti;
    white-space: nowrap;
}

#titleWord {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: STHeiti;
    line-height: 35px;
}

.svgBorder {
    /* border: 1px solid gray;
    border-radius: 5px; */
    background-color: rgba(248, 248, 248, 1);
}

.frameworkTitle {
    width: 100%;
    height: 25px;
    background-color: rgb(237, 237, 238);
    font-size: 12px;
    padding-top: 2px;
    padding-left: 5px;
    font-weight: bold;
    font-family: STHeiti;
}

.frameworkBody {
    width: 100%;
    height: calc(100% - 25px);

}

.word {
    font-size: 12px;
    font-weight: bold;
    font-family: STHeiti;
    /* transform:translateY(-50px); */
    width: 40%;
    vertical-align: text-bottom;
    margin-bottom: 2px;
    display: inline;
}

#range1 {
    margin-top: 3px;
    width: 60%;
    display: inline;
}

#range2 {
    margin: 3px;
    width: 60%;
    display: inline;
}

#range3 {
    margin: 3px;
    width: 18%;
    display: inline;
}

#range4 {
    margin: 3px;
    width: 18%;
    display: inline;
}

#range5 {
    margin: 3px;
    width: 18%;
    display: inline;
}

.run {
    margin: 3px;
    /* margin-top: 5px; */
    height: 20px;
    font-size: 10px;
    font-family: STHeiti;
    background-color: rgb(38, 149, 243);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    width: 90%;
    border-radius: 2px;
    /* -webkit-transition-duration: 0.4s; Safari
    transition-duration: 0.4s;
    cursor: pointer; */
    /* border: 1px solid rgb(38, 149, 243); */
}

.run2 {
    /* margin: 1px; */
    /* margin-top: 5px; */
    height: 30px;
    /* font-size: 10px; */
    /* font-family: STHeiti; */
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    /* border: none; */
    color: black;
    width: 30px;
    border-radius: 2px;
    padding: 3px 0px 0px 0px;
    /* -webkit-transition-duration: 0.4s; Safari
    transition-duration: 0.4s;
    cursor: pointer; */
    /* margin-top: 7px; */
    border: 1px solid rgb(38, 149, 243);
}

#navBar {
    background-color: rgba(55, 59, 64, 1);
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* padding-left: 36%; */
    /* text-algin: center; */
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
    height: calc(6%);
    padding-top: 1%;
    /* font-family: STHeiti; */
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}

.axisCom path,
.axisCom line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axisCom text {
    font-family: sans-serif;
    font-size: 12px;
}


/*chrome--------------------------------------------start*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 202);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 162, 163);
}

.el-menu::-webkit-scrollbar,
.el-table__body-wrapper::-webkit-scrollbar {
    display: none;
}

.el-menu:hover::-webkit-scrollbar,
.el-table__body-wrapper:hover::-webkit-scrollbar {
    display: block;
}

/*chrome--------------------------------------------end*/

.select {
    display: inline-block;
    /* width: 300px; */
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: #555;
    border: 1px solid #aaa;
    text-shadow: none;
    border-radius: 4px;	
    transition: box-shadow 0.25s ease;
    z-index: 2;
}

.select:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.select:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}
.select select {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select:focus {
    outline: none;
}
.slider-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(0, 117, 255);
    background-image: -webkit-linear-gradient(top,rgb(0, 117, 255) 0,rgb(0, 117, 255) 100%);
    background-image: -o-linear-gradient(top,rgb(0, 117, 255) 0,rgb(0, 117, 255) 100%);
    background-image: linear-gradient(to bottom,rgb(0, 117, 255) 0,rgb(0, 117, 255) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);
    filter: none;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 20%), 0 1px 2px rgb(0 0 0 / 5%);
    border: 0 solid transparent;
}

.slider.slider-horizontal .slider-track {
    height: 8px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}
.slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -4px;
}
.slider-selection {
    position: absolute;
    background-image: -webkit-linear-gradient(top,rgb(0, 117, 255) 0,rgb(0, 117, 255) 100%);
    background-image: -o-linear-gradient(top,rgb(0, 117, 255) 0,rgb(0, 117, 255) 100%);
    background-image: linear-gradient(to bottom,rgb(0, 117, 255) 0,rgb(0, 117, 255) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(0, 117, 255)',endColorstr='rgb(0, 117, 255)',GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}