/* #0a3c75 */
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* .tooltip {
    font-family: simsun;
    font-size: 16px;
    width: 120;
    height: auto;
    position: absolute;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
} */

.tooltip {
    position: absolute;
    width: 120px;
    height: auto;
    text-align: center;
    font-family: simsum;
    font-size: 14px;
    color: white;
    background-color: black;
    border-width: 2px solid black;
    border-radius: 5px;
}

.tooltipx {
    position: absolute;
    width: 120px;
    height: auto;
    text-align: center;
    font-family: simsum;
    font-size: 14px;
    color: white;
    background-color: black;
    border-width: 2px solid black;
    border-radius: 5px;
}

.tooltip:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 12px solid #000000;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}

.tooltipcir {
    position: absolute;
    width: 80px;
    height: auto;
    text-align: center;
    font-family: simsum;
    font-size: 14px;
    color: white;
    background-color: black;
    border-width: 2px solid black;
    border-radius: 5px;
}

/* .tooltipcir:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 12px solid #000000;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
} */

#Tree {
    height: 10px;
    width: 471px;
    background-color: white;
    /* background-color: #bdbdbd; */
}

.topFramework {
    float: left;
}

#left {
    height: 100%;
    width: 20%;
}

#right {
    height: 100%;
    width: 80%;
}

.framework {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    background-color: #fff;
    border: solid 1px transparent;
    border-radius: 3px;
    border-color: steelblue
}
#Ins {
    height: 260px;
    width: 80px;
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
    /* position: absolute; */
    /* left: 200px; */
    margin-top: 10px;
}

.axis2 path,
.axis2 line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis2 text {
    font-family: sans-serif;
    font-size: 11px;
}

.frameworkTitle {
    height: 30px;
    width: 100%;
    /* background-color: darkgray; */
    /* background-color: rgb(180, 180, 180); */
    /* background-color: #dfdede; */
    border: solid;
    border-width: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /* border-bottom: solid 1px transparent; */
    /* padding: 8px 15px; */
    font-size: 18px;
    font-weight: 100;
    border-color: #ddd;
    /* background-color: #f5f5f5; */
    background-color: steelblue;
    color: #444;
    padding: 1px
}

.frameworkBody {
    height: calc(100% - 35px);
    width: 100%;
    background-color: white;
    border: solid;
    border-width: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* #rectA {

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
} */

#Dataview {
    position: absolute;
    left: 0px;
    height: calc(31%);
    width: 805px;
    /* height: calc(30% - 10px);
    width: calc(100% - 5px); */
}

#CodeSelect {
    /* height: calc(25% - 10px);
    width: calc(50% - 5px); */
    position: absolute;
    width: 20.1%;
    float: left;
    left: 0px;
    top: calc(32% - 60px);
    height: 300px;
}

#LineView {
    /* position: absolute; */
    top: calc(0% - 0px);
    /* left: 0px; */
    /* width: 20.1%; */
    width: 455px;
    height: 107px;
    
    position: absolute;
    right: 5px;
    /* width: 1520px; */
}

#RectView {
    top: calc(60% + 0px);
    left: 0px;
    /* width: 20.1%; */
    width: 405px;
    height: 337px;
    
    position: absolute;
    /* right: 5px; */
}

#AnaView {
    top: 0px;
    position: absolute;
    right: 465px;
    /* left: 0px; */
    width: 1200px;
    height: 482px;
}

#DataView {
    
    top: 0px;
    left: 0px;
    /* right: 5px; */
    /* width: 20.1%; */
    width: 247px;
    height: 482px;
    
    position: absolute;
    /* right: 5px; */
}

#ScatterView {
    
    top: 0px;
    /* left: 0px; */
    right: 5px;
    /* width: 20.1%; */
    /* width: 405px;
    height: 337px; */
    
    position: absolute;
    /* right: 5px; */
}

#GlyphView {
    
    top: 485px;
    /* left: 0px; */
    right: 5px;
    /* width: 20.1%; */
    width: 457px;
    height: 372px;
    
    position: absolute;
    /* right: 5px; */
}

#LineSvg {
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

#ScatterVis {
    height: 328px;
    width: 298px;
    
    position: absolute;
    left: 0px;
    top: 0px;
}

#TreeVis {
    height: calc(40% - 10px);
    /* width: calc(60% - 10px); */
    width: 993px;
    position: absolute;
    left: 410px;
    /* right: 5px; */
    top: calc(60% - 0px);
}

#SunVis {
    height: calc(40% - 10px);
    /* width: calc(40% - 5px); */
    position: absolute;
    right: 5px;
    /* left: 0px; */
    top: calc(60% - 0px);
}

#Sun {
    height: calc(100% - 35px);
    width: 498px;
}

#tempVis1 {
    /* height: calc(60% - 10px);
    width: calc(100% - 10px); */
    position: absolute;
    /* right: 5px; */
    left: 0px;
    top: 485px;
    /* left: 0px; */
    /* width: 1520px; */
    width: 1450px;
}


#tempVis2 {
    height: calc(40% - 10px);
    width: calc(50% - 10px);
}

#tempVis3 {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}

#Scatter {
    border: 1px solid none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 50%;
    /* height: 100%; */
}

#Tsne {
    width: 100%;
    height: 83%;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    /* border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; */
    /* background-image: url('fin.png'); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-attachment: fixed; */
}

.node {
    font: 12px sans-serif;
}

.link {
    fill: none;
    /* stroke: #ccc; */
    /* stroke-width: 1.5px; */
}

#chart {
    width: 100%;
    /* height: 100%; */
    height: 340px;
}

#Word {
    /* font-size: 120%; */
    /* color: rgb(27, 27, 27); */
    color: white;
    font-weight: 500;
}

#experise {
    color: white;
    font-weight: 500;
}

#sumk {
    color: white;
    font-weight: 500;
}

#SankeyViewB {
    height: 30px;
    width: 100%;

    color: whitesmoke;
    font-size: 140%;
    height: 30px;
    width: 100%;
    /* background-color: rgb(180, 180, 180); */
    background-color: steelblue;
    border: solid;
    border-width: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

#textId {
    height: 30px;
    width: 200px;
    position: absolute;
    top: 430px;
    left: 20px;
    font-size: 25px;
}

#FindButton {
    height: 35px;
    width: 100px;
    position: absolute;
    top: 430px;
    left: 250px;
    border-radius: 3px;
    font-size: 20px;
}
.button-f {
    float: right;
    /* color: black; */
    height: 27px;
    background-color: steelblue;
    /* position: absolute;
    top: 430px;
    left: 250px; */
}

#DataD {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

#DataA {
    font-size: 15px;
    line-height: 30px
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 0.3;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 8px;
}

.axisX path,
.axisX line {
    fill: none;
    stroke: black;
    stroke-width: 0.3;
    shape-rendering: crispEdges;
}

.axisX text {
    font-family: sans-serif;
    font-size: 0px;
}

#JqScroll {
    border: 1px solid none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#JqTitle {
    border: 1px solid white;
    width: 100%;
    height: 7%;
}

#Lun_select {
    /* border: 0.1px solid black; */

    font-size: 15px;
    line-height: 30px;
    width: 80px;
    height: 25px;
    /* font-size: large; */
    /* position: absolute;
    top: 105px;
    left: 90px; */
}

/* #clear_But {
    width: 80px;
    height: 25px;
    position: absolute;
    top: 103px;
    left: 240px;
    font-size: 14px;
    border: 0px;
    border-radius: 5px;
} */

#topt {
    position: fixed;
    top: 0;
    z-index: 1;
}

/* css 代码  */
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    /* height: 300px; */
    height: calc(100% - 35px)
}

.controls {
    text-align: right;
    /* margin-bottom: 1rem; */
    /* padding: 0 0px; */
}

.controls small {
    opacity: 0.5;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

/* .button-row {

    text-align: right;
    font-size: 0;
    margin-left: 0.5rem;
    white-space: nowrap;
}

.button-row button {
    font-size: 1rem;
    background: #f8f8f8;
    transition: background 150ms;
    border: 1px solid #999;
    display: inline-block;
    font-size: 12pt;
    line-height: 16pt;
    margin-left: -1px;
    color: #555;
}

.button-row button:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.button-row button:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.button-row button[disabled] {
    background: rgb(124, 181, 236);
    color: white;
    ;
}

.button-row button:hover {
    background: #ccc;
    outline: none;
} */

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/*chrome--------------------------------------------start*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 202);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 162, 163);
}

.el-menu::-webkit-scrollbar,
.el-table__body-wrapper::-webkit-scrollbar {
    display: none;
}

.el-menu:hover::-webkit-scrollbar,
.el-table__body-wrapper:hover::-webkit-scrollbar {
    display: block;
}

/*chrome--------------------------------------------end*/

.webs polygon {
    fill: white;
    fill-opacity: 0.5;
    stroke: gray;
    stroke-dasharray: 10 5;
}

.areas polygon {
    fill-opacity: 0.5;
    stroke-width: 1;
}

.areas circle {
    fill: white;
    stroke-width: 3;
}

path.link {
    fill: none;
    /* stroke: #666; */
    /* stroke-width: 1.5px; */
  }
   
  /* marker#licensing {
    fill: green;
  } */
   
  /* path.link.licensing {
    stroke: green;
  } */